name: 'go-version'
on:
  schedule:
    - cron: '0 17 * * *'
  workflow_dispatch:
jobs:
  go-version:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - name: 'compare Go versions'
        run: |
          v1="$(curl -s 'https://go.dev/dl/?mode=json' | jq -r '.[].version' | sort -r | head -n 1 | tr -d '[:alpha:]')"
          v2="$(grep 'version =' flake.nix | cut -d '"' -f2)"
          echo "v1: ${v1}"
          echo "v2: ${v2}"
          if [[ "${v1}" != "${v2}" ]]; then
            sed -i "s/version = \"${v2}\"/version = \"${v1}\"/" flake.nix
            git diff
            git add .
            gh pr create --title "chore: bump Go version to ${v1}"
          fi
